In [4]:
%load_ext autoreload
%autoreload 2
import pandas as pd

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [2]:
!ls

APICalls.py    Untitled.ipynb __pycache__

In [53]:
from APICalls import getPollingData
getPollingData()

ImportError: cannot import name 'getPollingData'

In [14]:
response = pd.read_json('http://localhost:5000/parties/polls')
response

             firm                                            parties
0      allensbach  [{'date': '2017-05-26', 'party_name': 'CDU/CSU...
1           emnid  [{'date': '2017-03-06', 'party_name': 'CDU/CSU...
2           forsa  [{'date': '2017-05-31', 'party_name': 'CDU/CSU...
3  politbarometer  [{'date': '2017-02-06', 'party_name': 'CDU/CSU...
4             gms  [{'date': '2017-01-06', 'party_name': 'CDU/CSU...
5           dimap  [{'date': '2017-05-18', 'party_name': 'CDU/CSU...
6            insa  [{'date': '2017-05-29', 'party_name': 'CDU/CSU...

In [48]:
df_per_firm = {}
for i in range(len(response)):
    r = response.ix[[i]]
    df = pd.DataFrame.from_records(r.get('parties')[i])
    df_per_firm[r['firm'][i]] = df

In [51]:
df_per_firm['emnid']

            date party_name people  percentage
0     2017-03-06    CDU/CSU  1.838          38
1     2017-05-27    CDU/CSU  1.703          38
2     2017-05-20    CDU/CSU  2.413          38
3     2017-05-13    CDU/CSU  1.837          37
4     2017-06-05    CDU/CSU  1.935          36
5     2017-04-29    CDU/CSU  2.439          36
6     2017-04-22    CDU/CSU  1.412          36
7     2017-04-15    CDU/CSU  2.436          35
8     2017-08-04    CDU/CSU  1.958          35
9     2017-01-04    CDU/CSU  2.416          33
10    2017-03-25    CDU/CSU   2.45          33
11    2017-03-18    CDU/CSU  1.832          33
12    2017-11-03    CDU/CSU  1.882          33
13    2017-04-03    CDU/CSU  1.403          33
14    2017-02-25    CDU/CSU   1.88          32
15    2017-02-18    CDU/CSU  1.885          32
16    2017-11-02    CDU/CSU  1.966          33
17    2017-04-02    CDU/CSU  2.233          33
18    2017-01-28    CDU/CSU  1.996          37
19    2017-01-21    CDU/CSU  2.805          36
20    2017-01-14    CDU/CSU  1.878          37
21    2017-07-01    CDU/CSU  834.0          38
22    2016-12-24    CDU/CSU  2.326          36
23    2016-12-17    CDU/CSU  2.411          36
24    2016-10-12    CDU/CSU  2.426          36
25    2016-03-12    CDU/CSU  2.658          37
26    2016-11-26    CDU/CSU  2.426          35
27    2016-11-19    CDU/CSU  2.859          33
28    2016-12-11    CDU/CSU  2.782          34
29    2016-05-11    CDU/CSU  1.678          34
...          ...        ...    ...         ...
1279  2014-04-05   Sonstige  2.203           6
1280  2014-04-27   Sonstige  1.859           6
1281  2014-04-20   Sonstige  2.313           6
1282  2014-04-13   Sonstige  2.327           6
1283  2014-06-04   Sonstige  2.271           6
1284  2014-03-30   Sonstige   2.38           5
1285  2014-03-23   Sonstige  2.762           6
1286  2014-03-16   Sonstige   2.78           5
1287  2014-09-03   Sonstige  2.304           7
1288  2014-02-03   Sonstige  2.763           7
1289  2014-02-23   Sonstige  2.421           6
1290  2014-02-16   Sonstige  2.388           5
1291  2014-09-02   Sonstige  2.301           6
1292  2014-02-02   Sonstige  2.295           6
1293  2014-01-26   Sonstige  2.772           6
1294  2014-01-19   Sonstige  2.305           6
1295  2014-12-01   Sonstige  1.402           6
1296  2013-12-22   Sonstige  2.346           7
1297  2013-12-15   Sonstige  1.901           6
1298  2013-08-12   Sonstige  2.291           6
1299  2013-01-12   Sonstige  2.389           6
1300  2013-11-24   Sonstige  2.204           6
1301  2013-11-17   Sonstige  2.765           7
1302  2013-10-11   Sonstige  2.296           6
1303  2013-03-11   Sonstige  2.768           7
1304  2013-10-27   Sonstige  3.219           6
1305  2013-10-20   Sonstige  2.334           6
1306  2013-10-13   Sonstige  1.833           5
1307  2013-06-10   Sonstige  1.849           6
1308  2013-09-29   Sonstige  1.382           6

[1309 rows x 4 columns]