In [1]:
# TODO: Dirty hack to import from sibling dir. Put wahlrecht_polling_firms.py into the same folder as this file eventually.
import sys
import os
sys.path.append(os.path.abspath('../Backend'))
from wahlrecht_polling_firms import get_tables
from days_to_weeks import week
from pandas import DataFrame
import numpy as np
import pandas as pd
import datetime as dt

In [32]:
#TODO: add the datum for every week
def average(data, model, weightvector=None):
    '''
    averages over the polling data of all firms according to the data available for each week.
    
    data: polling data and the model that should be used('simple','weightparticipants'or
    'weightfirms'(needs a weightdictionary with a weight for every firm))
    return: dictionary of parties with the average results for every week
    '''
    week_ind={}
    n_weeks = 0
    for key in data:
        wk = week(data[key])
        week_ind[key]= wk
        n_weeks = np.maximum(n_weeks,np.max(wk))
    
    n_parties=7
    result=np.zeros((n_weeks,n_parties))
    total_part = np.zeros(n_weeks)
    parties=['CDU/CSU','SPD','GRÜNE','FDP','LINKE','AfD','Sonstige']
    
    
    if model == 'simple':
        for i in np.arange (n_weeks):
            n = 0
            for key in data:               
                if i in week_ind[key]:                    
                    current_ind = np.where(week_ind[key]==i)[0][0]
                    total_part[i] += data[key]['Befragte'][current_ind]
                    j = 0
                    for p in parties:
                        result[i,j] += data[key][p][current_ind]
                        j += 1
                    n += 1
            result[i,:] /= n
    
    if model == 'weightparticipants':
        for i in np.arange(n_weeks):
            n = 0
            for key in data:
                if i in week_ind[key]:
                    current_ind = np.where(week_ind[key]==i)[0][0]
                    total_part[i] += data[key]['Befragte'][current_ind]
                    n_part = data[key]['Befragte'][current_ind]
                    j = 0
                    for p in parties:
                        result[i,j] += data[key][p][current_ind]*n_part
                        j += 1
                    n += n_part  
            result[i,:] /= n      
            
    if model == 'weightfirms':
        for i in np.arange(n_weeks):
            n = 0
            for key in data:
                if i in week_ind[key]:
                    current_ind = np.where(week_ind[key]==i)[0][0]
                    total_part[i] += data[key]['Befragte'][current_ind]
                    j = 0
                    for p in parties:
                        result[i,j] += data[key][p][current_ind]*weightvector[key]
                        j += 1
                    n += weightvector[key]  
            result[i,:] /= n           
    
    res_dict = {}
    j = 0
    for p in parties:
        res_dict[p] = result[:,j]
        j += 1
    res = pd.DataFrame.from_dict(res_dict)
    res['Befragte'] = total_part
    return res

In [22]:
#testing
data = get_tables()

In [23]:
w = {'allensbach':0.2, 'emnid':0.1, 'forsa':0.1, 'politbarometer':0.1, 'gms':0.2, 'dimap':0.1, 'insa':0.1}

In [37]:
res = average(data,'weightfirms',w)
print(res['LINKE'][:200])

/home/eric/Predictor/models/days_to_weeks.py:30: FutureWarning: reshape is deprecated and will raise in a subsequent release. Please use .values.reshape(...) instead
  X = -(X - next_sunday).astype('timedelta64[D]').reshape(-1,1)
/home/eric/anaconda3/lib/python3.6/site-packages/ipykernel/__main__.py:63: RuntimeWarning: invalid value encountered in true_divide

0      11.000000
1       9.000000
2       9.000000
3       8.500000
4       8.400000
5       8.200000
6       8.750000
7       8.700000
8       8.916667
9       8.750000
10      8.125000
11      8.500000
12      8.100000
13      7.750000
14      7.833333
15      7.900000
16      7.666667
17      8.083333
18      8.250000
19      8.400000
20      8.875000
21      9.571429
22     10.333333
23      9.750000
24      9.750000
25      9.000000
26      9.900000
27     10.000000
28     10.100000
29     10.166667
         ...
170     9.714286
171     9.625000
172     9.875000
173     9.333333
174     9.666667
175     9.833333
176     9.000000
177     8.785714
178     9.200000
179     9.875000
180     9.250000
181    10.000000
182          NaN
183     9.000000
184     9.416667
185     9.375000
186     9.500000
187     9.250000
188     9.166667
189     9.000000
190     9.000000
191     8.916667
192     9.166667
193     9.000000
194     9.000000
195     9.500000
196     9.000000
197     8.666667
198     8.000000
199     7.000000
Name: LINKE, dtype: float64

In [38]:
res

,AfD,CDU/CSU,FDP,GRÜNE,LINKE,SPD,Sonstige,Befragte
0,9.000000,36.500000,9.000000,6.500000,11.000000,25.000000,3.000000,2040.0
1,8.000000,38.375000,8.500000,7.125000,9.000000,24.125000,4.875000,7127.0
2,8.000000,38.500000,8.500000,7.500000,9.000000,24.000000,4.500000,7439.0
3,8.000000,38.083333,9.000000,7.166667,8.500000,24.833333,4.416667,8209.0
4,7.800000,37.500000,8.900000,7.400000,8.400000,25.600000,4.400000,7704.0
5,8.200000,37.600000,8.000000,7.000000,8.200000,26.400000,4.600000,9317.0
6,8.750000,36.250000,7.000000,7.500000,8.750000,27.500000,4.250000,7408.0
7,8.800000,35.600000,6.800000,7.100000,8.700000,28.500000,4.500000,7476.0
8,8.333333,35.833333,6.083333,7.083333,8.916667,30.000000,3.750000,9217.0
9,9.250000,35.250000,5.875000,6.250000,8.750000,30.375000,4.250000,6391.0
10,9.500000,34.500000,6.125000,7.125000,8.125000,30.875000,3.750000,8470.0
11,8.750000,34.500000,5.375000,6.875000,8.500000,31.625000,4.375000,7879.0
12,8.000000,33.400000,6.200000,7.100000,8.100000,32.600000,4.600000,8348.0
13,9.750000,33.000000,5.916667,7.583333,7.750000,31.666667,4.333333,8918.0
14,9.833333,32.333333,6.000000,7.166667,7.833333,31.666667,5.166667,6388.0
15,9.400000,32.500000,6.100000,7.300000,7.900000,31.900000,4.900000,9120.0
16,10.000000,32.166667,6.666667,7.166667,7.666667,31.666667,4.666667,5907.0
17,9.333333,32.416667,6.416667,7.416667,8.083333,31.000000,5.333333,9001.0
18,10.000000,32.500000,5.500000,7.500000,8.250000,31.250000,5.000000,7646.0
19,10.800000,32.600000,5.800000,8.000000,8.400000,30.400000,4.000000,7518.0
20,11.750000,33.625000,6.125000,7.875000,8.875000,27.250000,4.500000,8329.0
21,12.214286,35.642857,6.500000,9.071429,9.571429,22.571429,4.428571,10265.0
22,12.166667,35.833333,6.500000,8.833333,10.333333,21.000000,5.333333,7339.0
23,13.000000,35.500000,6.250000,9.750000,9.750000,20.750000,5.000000,7725.0
24,13.333333,36.000000,6.000000,9.833333,9.750000,20.666667,4.416667,7445.0
25,12.000000,38.000000,5.000000,10.000000,9.000000,20.000000,6.000000,2504.0
26,12.100000,34.900000,6.600000,10.000000,9.900000,21.500000,5.000000,8370.0
27,12.250000,35.250000,5.625000,10.625000,10.000000,21.375000,4.875000,7377.0
28,12.400000,35.000000,5.200000,10.500000,10.100000,22.100000,4.700000,9745.0
29,12.166667,35.500000,5.166667,10.333333,10.166667,22.000000,4.666667,7258.0
...,...,...,...,...,...,...,...,...
370,NaN,33.000000,7.000000,16.000000,10.000000,28.000000,6.000000,1003.0
371,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
372,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
373,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
374,NaN,35.000000,9.000000,15.000000,9.000000,26.000000,6.000000,1006.0
375,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
376,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
377,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
378,NaN,34.000000,9.000000,15.000000,10.000000,26.000000,6.000000,1005.0
379,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
380,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
381,NaN,35.000000,10.000000,15.000000,9.000000,25.000000,6.000000,1004.0
382,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
383,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
384,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
385,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
386,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
387,NaN,35.000000,11.000000,14.000000,11.000000,24.000000,5.000000,1001.0
388,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
389,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
390,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
391,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
392,NaN,35.000000,12.000000,13.000000,11.000000,24.000000,5.000000,1002.0
393,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
394,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
395,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
396,NaN,35.000000,13.000000,12.000000,13.000000,21.000000,6.000000,1001.0
397,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
398,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
399,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0